{% extends 'templates/template_main.twig' %}
{%  block  content %}
    <section class="h1">Поиск по сайту</section>

    <section class="search_sec">
        <form method="post" action="/search/">
            <div class="search_input_wrap">
                <div class="input_text">
                    <div class="input_text_wrap">
                        <input name="search" type="text" placeholder="Ключеыве слова">
                    </div>
                </div>
                <input type="submit" value="" class="search_ico">
            </div>
            <input type="submit" value="" class="search_submit">
        </form>
    </section>

    <section class="search_results_sec">
        <div class="search_all">
            {% if word %}
                Всего найдено: {{ searched_products|length }} <br>
                Запрос по ключевому слову: <span id="word">{{ word }}</span>
            {% endif %}
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li style="color: red;"> - {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if searched_products|length > 0 %}
        <ul class="search_results_list">
            {% for searched_product in searched_products %}
            <li>
                <a class="blue_title searched_word" href="/products/view/{{ searched_product.id }}">{{ searched_product.title }}</a>
          {#      <div class="result_breadcrumb">
                    <a href="#">Главная</a> //
                    <a href="#">Гипсокартон</a> //
                    <a href="#">ГКЛ (гипсокартонный лист)</a>
                </div>#}
                <p class="searched_word">{{ searched_product.description }}</p>
               {# <p class="result_date">20.09.2010</p>#}
            </li>
            {% endfor %}

        </ul>
        {% endif %}
    </section>

{#    <section class="paginator">
        <div class="filter_title">Страницы:</div>
        <div class="paginator_pages">
            <a class="paginator_left" href="#"></a>
            <ul>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
            </ul>
            <a class="paginator_right" href="#"></a>
        </div>
    </section>#}
{% endblock %}